server:
  port: 8080

spring:
  application:
    name: recipe-platform-backend

  datasource:
    url: jdbc:mysql://localhost:3306/test2?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC
    username: root
    password: ahmad1234
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true

  devtools:
    restart:
      enabled: true
    livereload:
      enabled: true

logging:
  level:
    com.recipeplatform: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
